<div class="parent-container card card-horizontal bg-dark" routerLink="/tournaments/{{tournament.id}}">
    <div class="container col-md-3 img-square-wrapper">
        <div class="inbl card-body cardPadding fadeshow1">

            <!-- Is Started -->
            <div class="row">
                <div class="col-2 text-truncate text-light text-truncate-over800" >
                    <button class="btn btn-success disable-click"  *ngIf="!tournament.started" >NUOVO</button>
                    <button class="btn btn-warning disable-click"  *ngIf="tournament.started && !tournament.finished" >IN CORSO</button>
                    <button class="btn btn-danger disable-click" *ngIf="tournament.finished" >TERMINATO</button>
                </div>
            </div>

            <!-- Name -->
            <div class="row">
                <div class="col-2 text-truncate text-light text-truncate-over800">
                    <h2 class="card-title">{{ tournament.tournamentName }}</h2>
                </div>
            </div>

            <!-- Date -->
            <div class="row">
                <div class="col-2 text-truncate text-light text-truncate-over800" >
                    Creation Date: {{ tournament.startDate }} 
                    <h5>Subscribed Players: {{ tournament.subscribedPlayerCounter }}</h5>
                </div>
            </div>

            
        </div>
    </div>
  </div>
  