<div>
  <form [formGroup]="creationForm" (ngSubmit)="onSend()">
    <h2 matDialogTitle>Crea Nuovo Torneo</h2>
      <input  matInput type="text" placeholder="Nome" formControlName="firstName" required >
      <br>
      <input  matInput type="text" placeholder="Cognome" formControlName="lastName" required >
      <br>
      <input  matInput type="text" placeholder="Nickname" formControlName="nickname" required >
      <br>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <br>
      <br>
      <p>Autogenera Password: </p>
      <input matInput type="checkbox"  formControlName="autogeneratePassword">
      <br>
    <mat-dialog-actions class="right">
      <button class="btn" (click)="closeMe()">Annulla</button>
      <button class="btn btn-success" type="submit" [disabled]="!creationForm.valid" mat-button>Crea</button>
  </mat-dialog-actions>
  </form>
</div>
